.home-container{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
    
}

.home-container header{
    display: flex;
    align-items: center;
}

.home-container header span{
    font-size: 20px;
    margin-left: 24px;
}

.home-container header img{
    height: 64px;
    margin-left: 16px;
}

.home-container header .button-singout{
    margin-left: auto;
    margin-right: 16px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    border:1px solid #dcdce6;
    background: transparent;
    transition: border-color 0.2s;
    color:red;
}

.home-container header .button-singout:hover{
    border-color: red;
}

.home-container header .button-singout:active{
    background: red;
    color:white;
}

.home-container h1{
    margin-top: 80px;
    margin-bottom: 24px;
}

.home-container ul{
    max-width: 970px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:24px;
    list-style: none;
}

.home-container ul .button-Modulos{
    text-decoration: none;
    color:black;
}

.home-container ul .button-Modulos li{
    background: #fff;
    border-radius: 8px;
    position: relative;
    padding: 15px;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    box-shadow: 20px 20px 27px rgba(0, 0, 0, 0.2);
}

.home-container ul .button-Modulos li:hover{
    background: #fbfbff;
}

.home-container ul .button-Modulos li:active{
    filter:brightness(95%);
}

